<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="cs-footer-270">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/images/blueberry-logo.png" alt="logo" width="209" height="40">
            </a>
            <p class="cs-text">
                Designed and hand coded by <a href="https://eskerdesigns.com/">Esker Designs</a> in the Mad River Valley
            </p>
        </div>
        <!-- Address Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Address</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">424 Plunkton Rd <br>Warren, VT 05674</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="tel: 123-456-7890">(802) 496-6687</a>
            </li>
        </ul>
    </div>
</footer>
                                