---
title: "Support Blueberry Lake XC | Trail Improvements & Accessibility Programs"
description: "Help support our family-owned ski center with sustainer passes and donations for trail improvements. Free skiing program for qualifying families. 40+ years in Vermont's Mad River Valley."
permalink: '/sauna/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="stylesheet" href="/assets/css/critical.css">

{% endblock %}

{% block body %}
   
<!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1400">
        <div class="cs-container">
            <span class="cs-int-title">Sauna Passes</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 750, height: 820}) | webp %}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 2018, height: 916, position: "attention" }) | webp %}">
            <img decoding="async" src="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 2018, height: 916, position: "attention" }) | webp %}" alt="Frosty Line of trees" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                    Stats                     -->
    <!-- ============================================ -->

    <section id="sbs-297">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
        
                <!--Big Background Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sauna.jpg" | resize({width: 686, height: 760, position: "bottom" }) | webp %}"/>
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/sauna.jpg" | resize({width: 818, height: 1060, position: "bottom" }) | webp %}"/>
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/sauna.jpg" | resize({width: 818, height: 1060, position: "bottom" }) | webp %}" alt="Cross country skier in the distance." aria-hidden="true"/>
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">Sauna at Blueberry Lake XC</h2>
                <p class="cs-text">
                    This year, we are excited to expand the nordic experience beyond skiing and snowshoeing! Our neighbords Jesse and Alicia are currently building an eight-person trailside sauna for us! The sauna will be open on weekends, holidays, and weekdays from 4 - 7 PM, or anytime by booking ahead for parties of two or more. Sauna appointments must be scheduled at least 1 hr in advance.
                </p>
                <p class="cs-text">
                    Sauna Season will run from December 1st - March 15th or until whenever the ski season closes, whichever comes later.
                </p>
                <p class="cs-text">
                    Monthly passes include unlimited sauna use for a 30-day period, and only existing customers who have purchased a season's ski passes are eligible for the discounted sauna add-on pricing.
                </p>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/topo.png" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/topo.png" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/topo.png" | resize({width: 1415, height: 722}) | webp %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Sauna Monthly <br>Add-On</span>
                    <span class="cs-price">
                        $75
                        <span class="cs-duration">/month</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/3Y57RCK0" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Sauna Season <br> Add-On</span>
                    <span class="cs-price">
                        $200
                        <span class="cs-duration">/person</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/leOPHEbr" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Single Session <br> Sauna</span>
                    <span class="cs-price">
                        $25
                        <span class="cs-duration">/30 minutes</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="/"" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Sauna Monthly <br>(without ski pass)</span>
                    <span class="cs-price">
                        $125
                        <span class="cs-duration">/month</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/yXOt1XqN" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Sauna Season <br>(without ski pass)</span>
                    <span class="cs-price">
                        $325
                        <span class="cs-duration">/person</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/kEXmYrM2" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}