---
title: "Support Blueberry Lake XC | Trail Improvements & Accessibility Programs"
description: "Help support our family-owned ski center with sustainer passes and donations for trail improvements. Free skiing program for qualifying families. 40+ years in Vermont's Mad River Valley."
permalink: '/support/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="stylesheet" href="/assets/css/critical.css">

{% endblock %}

{% block body %}
   
<!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1400">
        <div class="cs-container">
            <span class="cs-int-title">Support</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 750, height: 820}) | webp %}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 2018, height: 916, position: "attention" }) | webp %}">
            <img decoding="async" src="{% getUrl "/assets/images/snowy-trees.jpg" | resize({width: 2018, height: 916, position: "attention" }) | webp %}" alt="Frosty Line of trees" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                    Stats                     -->
    <!-- ============================================ -->

    <section id="sbs-297">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
        
                <!--Big Background Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/IMG_4665.jpg" | resize({width: 686, height: 760, position: "bottom" }) | webp %}"/>
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/IMG_4665.jpg" | resize({width: 818, height: 1060, position: "bottom" }) | webp %}"/>
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/IMG_4665.jpg" | resize({width: 818, height: 1060, position: "bottom" }) | webp %}" alt="Cross country skier in the distance." aria-hidden="true"/>
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Building a Legacy Together</span>
                <h2 class="cs-title">Supporting Blueberry Lake XC</h2>
                <p class="cs-text">
                    Blueberry Lake XC (BBLXC) has been a small family-owned and operated business for over 40 years. Many seasons the ski center does not turn a profit at all, and that's okay! My Grandfather, Lenord Robinson, built these trails simply because he loved to ski and wanted to give others the chance to experience this thing that brought him so much joy. Providing a space for people to make memories outside on snow remains our primary mission today.
                </p>
                <p class="cs-text">
                    As Renate and I take over stewardship of this place that means so much to so many, we want to do our best to stay true to the spirit of BBLXC as a place where all are welcome and smiles are made. We also hope to invest in trail improvements that can help BBLXC continue to operate in an environment of increasing temperatures and decreasing snow cover.
                </p>
                <p class="cs-text">
                    Leveling out the high spots, trimming branches, and creating water bars and ditches can help us keep the trails skiable even in very low snow conditions and will improve the overall skiing experience for everyone. Much of this work can be done by hand, but some of it requires expensive equipment or hiring folks with skills that we don't have. If you have time to give or equipment to lend, we would love to hear from you!
                </p>
                <p class="cs-text">
                    <span class="cs-accent">This year we are offering a sustainer level pass</span> to help raise funds to begin undertaking these trail improvement projects. When you buy a sustainer level pass, every dollar above the regular season pass rate will go directly to trail improvements. You can also donate directly by clicking on the support trail improvement button below. Sustainers and donations over $125 will receive a BBL sustainers sticker and 2 free sauna passes redeemable on non-holiday weeks. Thank you so much for your support!
                </p>
                <a href="https://square.link/u/uI5PKIgp" class="cs-button-solid">Donate to Support Trail Improvements</a>
                <h3 class="cs-h3">Improving Accessibility</h3>
                <p class="cs-text">
                    In an effort to help make outdoor experiences affordable and accessible for all, BBLXC will be offering free skiing to all children under 12 years old who qualify for free school lunch and to an accompanying adult. We are reaching out to local schools to make sure families are aware of the program.
                </p>
                <p class="cs-text">
                    We will also offer free rentals when they are available, but our rental fleet can not currently support a busy holiday week of tourists and a local crowd of free skiers.
                </p>
                <p class="cs-text">
                    Over time, we would like to create a fleet of skis used only by families accessing free skiing. If you would like to help us reduce barriers, please consider donating by clicking on the access for all button below. All equipment purchased with these funds will only be used for free skiing families. The for-profit rental fleet will be kept separate, and we will work to upgrade that equipment with our own budget.
                </p>
                <a class="cs-button-solid" aria-label="support trail improvements" href="https://square.link/u/r4wdxB1V">Support Access For All</a>
            </div>
        </div>
    </section>

{% endblock %}