/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs .cs-picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs-r .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    top: 0;
    right: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs-r .cs-picture2 {
    bottom: 0;
    left: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs-r .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs-r .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs-r .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs-r .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    /* sends it to the right */
    order: 2;
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs-r .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
  }
  #gallery .cs-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
  }
  #gallery .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #gallery .cs-title {
    margin-bottom: 2.5rem;
    max-width: 38.8125rem;
    text-align: center;
  }
  #gallery .cs-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .cs-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .cs-title {
    max-width: 43.75rem;
    text-align: center;
  }
  #reviews .cs-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: calc(-40 / 16 * 1rem);
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1384 {
    padding: var(--sectionPadding);
    /* clips the cs-floater and prevents it from causing overflow issues */
    overflow: hidden;
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #pricing-1384 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 198px - 214px, 48px and 64px + the 150px negative margin to on the cs-flex. We add that negative marign value to the regular standard gap spacing so there's the proper standard spacing between the cs-content and the cs-card to account for the cs-flex pulling the cs-content closer to it with a negative margin */
    gap: clamp(12.375rem, 18vw, 13.375rem);
  }
  #pricing-1384 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-1384 .cs-title {
    max-width: 20ch;
  }
  #pricing-1384 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
    /* 166px - 170px */
    row-gap: clamp(10.375rem, 20vw, 10.625rem);
  }
  #pricing-1384 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 2.5rem 2.5rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing-1384 .cs-item .cs-topper {
    font-size: 0.83rem;
    max-width: 150px;
  }
  #pricing-1384 .cs-item.cs-popular .cs-flex {
    background-color: var(--primary);
  }
  #pricing-1384 .cs-item.cs-popular .cs-tag {
    display: flex;
  }
  #pricing-1384 .cs-item.cs-popular .cs-package,
  #pricing-1384 .cs-item.cs-popular .cs-price,
  #pricing-1384 .cs-item.cs-popular .cs-duration {
    color: var(--bodyTextColorWhite);
  }
  #pricing-1384 .cs-item.cs-popular .cs-duration {
    opacity: 0.8;
  }
  #pricing-1384 .cs-item.cs-popular .cs-button-transparent {
    background-color: var(--primary);
    color: #fff;
    transition: color 0.3s, border-color 0.6s, background-color 0.3s;
  }
  #pricing-1384 .cs-item.cs-popular .cs-button-transparent:hover {
    border-color: #1a1a1a;
    background-color: #1a1a1a;
  }
  #pricing-1384 .cs-flex {
    /* 196px - 250px */
    width: clamp(12.25rem, 25vw, 15.625rem);
    height: clamp(12.25rem, 25vw, 15.625rem);
    margin-top: -9.375rem;
    border-radius: 50%;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #pricing-1384 .cs-tag {
    font-size: 0.8125rem;
    color: var(--headerColor);
    text-transform: uppercase;
    /* keeps the text in one line, won't jump to two lines */
    white-space: nowrap;
    font-weight: 700;
    padding: 0.5rem;
    gap: 0.25rem;
    border-radius: 50px;
    background-color: #fff;
    /* clips the corners of the pseudo element */
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -0.25rem;
    transform: translateX(-50%);
  }
  #pricing-1384 .cs-tag:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-1384 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: flex;
  }
  #pricing-1384 .cs-package {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    /* 4px - 8px */
    margin: 0 0 clamp(0.25rem, 1vw, 0.5rem) 0;
  }
  #pricing-1384 .cs-price {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 4vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #pricing-1384 .cs-duration {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    margin: 0;
    /* 4px - 8px */
    padding: clamp(0.25rem, 1vw, 0.5rem) 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1384 .cs-ul {
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #pricing-1384 .cs-li {
    font-size: 1rem;
    list-style: none;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1384 .cs-li.cs-disabled {
    opacity: 0.5;
  }
  #pricing-1384 .cs-button-transparent {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: var(--primary);
    padding: 0 3rem;
    border-radius: 1.875rem;
    border: 1px solid var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #pricing-1384 .cs-button-transparent:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-1384 .cs-button-transparent:hover {
    color: var(--bodyTextColorWhite);
    border-color: #1a1a1a;
  }
  #pricing-1384 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #pricing-1384 .cs-button-transparent {
    /* this is the section specific override if you choose to pull out the cs-button-transparent and place it in a global stylesheet to resue acorss the entire site */
    margin-top: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1384 .cs-container {
    max-width: 80rem;
  }
  #pricing-1384 .cs-container .cs-card-group {
    flex-direction: row;
    align-items: stretch;
  }
}
/*-- -------------------------- -->
<---    Pricing 1386 Override   -->
<--- -------------------------- -*/
/* Make first pricing card group 4 columns */
@media only screen and (min-width: 48rem) {
  #pricing-1386 .cs-card-group:first-of-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #pricing-1386 .cs-card-group:first-of-type .cs-item {
    padding: 0 1.5rem 1.5rem;
  }
  #pricing-1386 .cs-card-group:first-of-type .cs-flex {
    width: clamp(10rem, 20vw, 12rem);
    height: clamp(10rem, 20vw, 12rem);
  }
}
