---
title: "Blueberry Lake Cross Country Skiing | Vermont Nordic Ski Center"
description: "Experience 35km of groomed cross country skiing trails at Blueberry Lake in Warren, VT. Classic skiing, skate skiing, and snowshoe trails for all skill levels in Mad River Valley."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Welcome to</span>
            <h1 class="cs-title">Blueberry Lake Cross Country Ski Center</h1>
            <p class="cs-text">
                Located in the Mad River Valley, East Warren, Vermont.
            </p>
            <div class="cs-button-group">
                <a href="/index#pricing-1386" class="cs-button-solid cs-button">Shop Passes</a>
                <a href="https://www.youtube.com/watch?v=GmevGrbJUj4&t=1s" target="_blank" class="cs-button-transparent cs-button">
                    <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17">
                    Learn More
                </a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blueberry-hero.jpeg" | resize({width: 750, height: 1422}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/blueberry-hero.jpeg" | resize({width: 2048, height: 1966}) | webp %}">
        <img loading="lazy" decoding="async" src="/assets/iamges/blueberry-hero.jpeg" alt="mountains" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/topo.png" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/topo.png" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/topo.png" | resize({width: 1415, height: 722}) | webp %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Season Passes</span>
            <h2 class="cs-title">Get Your Pass Today!</h2>
            <p class="cs-text">
                This season, Blueberry Lake Cross Country Skiing is undergoing an important period of transition. As such, we will exclusively offer season passes & day passes for our visitors.           
            </p>
            <p class="cs-text">
                The lodge will remain open for visitor use, including restroom access, but will not be regularly staffed. <strong>This means that equipment rentals will not be available on a regular basis</strong>. While not regularly staffed, you can easily purchase tickets through our virtual payment system (via QR codes posted on-site) or online before your visit. Full service of the lodge, including staffing and equipment rentals will be available during holiday periods and by appointment.
            </p>
            <p class="cs-text">
                We’re excited to maintain access to our trails, which will remain open 7 days a week for skiing, snowshoeing, and more.
            </p>
            <p class="cs-text">
                We appreciate your understanding and continued support as we navigate these changes and work toward an even brighter future for our community of outdoor enthusiasts.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Season Pass</span>
                    <span class="cs-price">
                        $210
                        <span class="cs-duration">/Season</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/heBHNYgj?src=sheet" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Senior <br> Season Pass (65+)</span>
                    <span class="cs-price">
                        $175
                        <span class="cs-duration">/Season</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/yuU9SKKs?src=sheet" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Family <br> Season Pass</span>
                    <span class="cs-price">
                        $350
                        <span class="cs-duration">/Season</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/MzKs9TiW?src=sheet" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Day Pass</span>
                    <span class="cs-price">
                        $22
                        <span class="cs-duration">/Day</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="/collection/frontpage/" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Senior <br> Day Pass (65+)</span>
                    <span class="cs-price">
                        $17
                        <span class="cs-duration">/day</span>
                    </span>
                </div>
                <div class="cs-info">
                    <a href="https://square.link/u/V18Z7eF3?src=sheet" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Youth <br> Day Pass (7 - 16yr/olds)</span>
                    <span class="cs-price">
                        $17
                        <span class="cs-duration">/day</span>
                    </span>
                </div>
                <div class="cs-info">
                    <p>Kids 6 and under ski for free!</p>
                    <a href="https://square.link/u/Nyu1U6Ni?src=sheet" target="_blank" class="cs-button-transparent">Buy Now!</a>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Skiing at Blueberry lake</span>
            <h2 class="cs-title">Located in the Mad River Valley, Vermont</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sbs-1.jpeg" | resize({width: 686, height: 840}) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/sbs-1.jpeg" | resize({width: 914, height: 1400}) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/sbs-1.jpeg" | resize({width: 914, height: 1400}) | webp %}" alt="Trail at Blueberry Lake">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                Discover the warmth and charm of our sheltered trails! With 35 kilometers across 11 trails, you can enjoy classic skiing, skating, snowshoeing, and even fat biking. From beginner-friendly paths to expert-level routes, our trails offer something for everyone. Wander through serene wooded areas or glide through wide-open meadows with breathtaking views.
            </p>
            <p class="cs-text">
                Bring the whole family along! And for those with four-legged friends, well-behaved dogs are welcome—just be sure to clean up after them!
            </p>
            <p class="cs-text">
                Come and explore, play, and make lasting memories on our trails.
            </p>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">44</span>
                    <span class="cs-desc">Years in Business</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">35</span>
                    <span class="cs-desc">Kilometers of Trails</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">7</span>
                    <span class="cs-desc">Days a Week</span>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1279">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/trails.jpeg" | resize({width: 686, height: 912}) | webp %}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/trails.jpeg" | resize({width: 984, height: 942}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/trails.jpeg" | resize({width: 984, height: 942}) | webp %}" alt="Skate Skier going uphill.">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Get to Know our Trails</span>
                <h2 class="cs-title">First Time Visiting?</h2>
            </div>
            <p class="cs-text">
                Click below to learn more about our trails. We offer virtual browsing right here through Trail Hub.
            </p>
            <a href="/trails" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <div class="cs-background">
    </div>
</section>
                                

{% endblock %}